// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// Import global control style.
@import 'styles/validation-message';
@import 'styles/loader';
@import 'styles/animations';
@import '~@ng-select/ng-select/scss/default.theme';

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {

  // Is last button but not the first.
  button:not(:first-child):last-child {

  }

  // Neither button is the first nor the last button.
  button:not(:first-child):not(:last-child),
  button:first-child:not(:last-child) {
    margin-right: 2px;
  }
}

.ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

textarea.no-resize {
  resize: none;
}

nz-select.form-control nz-select-top-control,
nz-select.form-control nz-select-top-control input.ant-select-selection-search-input {
  height: 100% !important;
}

nz-select.form-control nz-select-top-control {
  border: none !important;
}
