<div class="wrapper">
    <navigation-bar></navigation-bar>

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ heading | translate}}</h1>
                    </div>
                    <!--
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">{{'TITLE_MEASUREMENT' | translate}}</li>
                        </ol>
                    </div>
                    -->
                </div>
            </div>
        </section>

        <!--Content-->
        <section class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright © 2014-2019 <a href="#" (click)="$event.preventDefault()">NM Ltd</a>.</strong> All rights
        reserved.
    </footer>

</div>
