<!--Loading spinner-->
<div id="loadingWrapper"
     *ngIf="shouldLoaderDisplayed">
  <div class="loading-icon">
    <div class="loading-outer"></div>
    <div class="loading-inner"></div>
  </div>
</div>

<!--Main content-->
<router-outlet></router-outlet>

<div *ngIf="navigationProcesses > 0"
     class="progress-bar fixed-top">
  <div class="line"></div>
  <div class="subline inc"></div>
  <div class="subline dec"></div>
</div>

