<div name="serialPortDetailDialogForm"
     novalidate
     [formGroup]="measurementSettingsForm"
     (submit)="$event.preventDefault(); clickOk()">
    <div class="modal-header">
        <h5 class="modal-title">
            {{'SERIAL_PORT_DETAIL_DIALOG_TITLE'| translate}}
        </h5>
    </div>

    <div class="modal-body">
        <div class="row">

            <!--Slave id-->
            <div class="col-12">
                <b>{{'TITLE_SLAVE_ID'| translate}}</b>
                <div class="form-group">

                    <input type="number"
                           step="1"
                           class="form-control"
                           [formControl]="slaveIdControl">

                    <cms-validation-summarizer label="{{'TITLE_SLAVE_ID' | translate}}"
                                               maximum-messages="1"
                                               [instance]="slaveIdControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Interval-->
            <div class="col-12">
                <b>{{'TITLE_INTERVAL'| translate}}</b>
                <div class="form-group">

                    <input class="form-control"
                           [formControl]="intervalControl">

                    <cms-validation-summarizer label="{{'TITLE_INTERVAL' | translate}}"
                                               maximum-messages="1"
                                               [instance]="intervalControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Timeout-->
            <div class="col-12">
                <b>{{'TITLE_TIMEOUT'| translate}}</b>
                <div class="form-group">
                    <input class="form-control"
                           [formControl]="timeoutControl">
                    <cms-validation-summarizer label="{{'TITLE_TIMEOUT' | translate}}"
                                               maximum-messages="1"
                                               [instance]="timeoutControl"></cms-validation-summarizer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-center">
        <button type="button"
                class="btn btn-primary" (click)="clickOk()">
            {{'TITLE_SAVE' | translate | uppercase}}
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="clickCancel()">
            {{'TITLE_CANCEL' | translate | uppercase}}
        </button>
    </div>
</div>

