<cms-spinner></cms-spinner>

<form name="serialPortDetailDialogForm"
      novalidate
      [formGroup]="serialPortDetailFormGroup"
      (submit)="$event.preventDefault(); clickOk()">
    <div class="modal-header">
        <h5 class="modal-title">
            {{'SERIAL_PORT_DETAIL_DIALOG_TITLE'| translate}}
        </h5>
    </div>

    <div class="modal-body">
        <div class="row">

            <!--Name-->
            <div class="col-12">
                <b>{{'TITLE_NAME'| translate}}</b>
                <div class="form-group">
                    <ng-select [formControl]="nameControl">
                        <ng-option *ngFor="let availablePort of availablePorts"
                                   [value]="availablePort">{{availablePort}}</ng-option>
                    </ng-select>

                    <cms-validation-summarizer label="{{'TITLE_NAME' | translate}}"
                                               maximum-messages="1"
                                               [instance]="nameControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Baud rate-->
            <div class="col-12">
                <b>{{'TITLE_BAUD_RATE'| translate}}</b>
                <div class="form-group">
                    <ng-select [formControl]="baudRateControl">
                        <ng-option *ngFor="let baudRate of availableBaudRates"
                                   [value]="baudRate">{{baudRate}}</ng-option>
                    </ng-select>
                    <cms-validation-summarizer label="{{'TITLE_BAUD_RATE' | translate}}"
                                               maximum-messages="1"
                                               [instance]="baudRateControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Data bit-->
            <div class="col-12">
                <b>{{'TITLE_DATA_BIT'| translate}}</b>
                <div class="form-group">
                    <ng-select [formControl]="dataBitControl">
                        <ng-option *ngFor="let item of availableDataBits"
                                   [value]="item">
                            {{item}}
                        </ng-option>
                    </ng-select>
                    <cms-validation-summarizer label="{{'TITLE_DATA_BIT' | translate}}"
                                               maximum-messages="1"
                                               [instance]="dataBitControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Parity-->
            <div class="col-12">
                <b>{{'TITLE_PARITY'| translate}}</b>
                <div class="form-group">
                    <ng-select [formControl]="parityControl">
                        <ng-option *ngFor="let parity of availableParities"
                                   [value]="parity.value">
                            {{parity.title | translate}}
                        </ng-option>
                    </ng-select>
                    <cms-validation-summarizer label="{{'TITLE_PARITY' | translate}}"
                                               maximum-messages="1"
                                               [instance]="parityControl"></cms-validation-summarizer>
                </div>
            </div>

            <!--Stop bit-->
            <div class="col-12">
                <b>{{'TITLE_STOP_BIT'| translate}}</b>
                <div class="form-group">
                    <ng-select [formControl]="stopBitControl">
                        <ng-option *ngFor="let availableStopBit of availableStopBits"
                                   [value]="availableStopBit.value">
                            {{availableStopBit.title | translate}}
                        </ng-option>
                    </ng-select>
                    <cms-validation-summarizer label="{{'TITLE_STOP_BIT' | translate}}"
                                               maximum-messages="1"
                                               [instance]="stopBitControl"></cms-validation-summarizer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-center">
        <button type="submit"
                class="btn btn-primary">
            {{'TITLE_SAVE' | translate | uppercase}}
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="clickCancel()">
            {{'TITLE_CANCEL' | translate | uppercase}}
        </button>
    </div>
</form>

