<div class="row">
    <div class="col-12">
        <button class="btn btn-outline-info mb-2 mr-2"
                (click)="doSerialPortSetup()">
            <span class="fa fa-plug"></span>
        </button>

        <div class="btn-group mb-2">
            <button class="btn btn-outline-info"
                    (click)="clickSetupMeasurementProcess()">
                <span class="fa fa-cogs"></span>
            </button>
            <button class="btn"
                    (click)="clickStartStopMeasurement()"
                    [class.btn-outline-info]="measurementStatus !== MeasurementStatuses.running"
                    [class.btn-outline-danger]="measurementStatus == MeasurementStatuses.running">
                <span class="fa"
                      [class.fa-play]="measurementStatus !== MeasurementStatuses.running"
                      [class.fa-stop]="measurementStatus == MeasurementStatuses.running"></span>
            </button>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card"
             [style.height.px]="500">
            <div class="card-header">
                <h3 class="card-title">
                    <b>ECG Value</b>
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body text-center">

                <ng-container *ngIf="nameToMeasurementChart[chartName]">
                    <canvas baseChart
                            [style.height.px]="400"
                            [datasets]="nameToMeasurementChart[chartName].dataSets"
                            [labels]="nameToMeasurementChart[chartName].labels"
                            [options]="nameToMeasurementChart[chartName].options"
                            [colors]="nameToMeasurementChart[chartName].colors"
                            [legend]="nameToMeasurementChart[chartName].legend"
                            [chartType]="nameToMeasurementChart[chartName].type"></canvas>
                </ng-container>

            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
