$fixed-top-progress-bar-z-index: 1041;

.progress-bar {
  position: absolute;
  width: 100%;
  height: 5px;
  overflow-x: hidden;

  .line {
    position: absolute;
    opacity: 0.4;
    background: #4a8df8;
    width: 150%;
    height: 5px;
  }

  .subline {
    position: absolute;
    background: #4a8df8;
    height: 5px;
  }

  .inc {
    animation: increase 2s infinite;
  }

  .dec {
    animation: decrease 2s 0.5s infinite;
  }
}

.progress-bar.fixed-top {
  position: fixed;
  z-index: #{$fixed-top-progress-bar-z-index};
  top: 0;
  left: 0;
}




@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
